# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Legion\Desktop\Informatika\Masodik_felev\Adatszerkezetek\DSA_lab_Csata_Laszlo_Levente\3_feladat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
